@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;

}

html,
body {
    scroll-behavior: smooth !important;
    font-size: 16px;
    font-family: 'Poppins', 'Inter', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fcfcfc;
    background-image: url('../image/motif.png');
    background-repeat: repeat;
    background-size: 48px;
}

/* .elibelinde {
    background-image: url('../image/motif.png');
    background-repeat: repeat;
    background-size: 48px;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    &:hover {
        color: inherit;
    }

    &:not(.font-bold):not(.font-semibold):not(.font-medium):not(.font-light):not(.font-thin):not(.font-extralight):not(.font-extrabold):not(.font-black) {
        font-weight: normal !important;
    }
}

a[href="javascript:void(0)"] {
    >* {
        pointer-events: none;
    }
}

a:not(.underline) {

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    margin-bottom: 0;
}

label {
    font-weight: normal;
    margin: 0;
}

input[type='checkbox'] {
    margin: 0;
}

input[type='checkbox']:focus {
    outline: none;
}

button * {
    pointer-events: none !important;
}

img {
    border: none;
}

@keyframes zoomIn {
    from {
        transform: scale(0.7);
    }

    to {
        transform: scale(1);
    }
}

.zoomIn-modal-animation {
    animation-name: zoomIn;
    animation-duration: 0.3s;
    transform: scale(1);
}

@keyframes bottomToTop {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.bottom-to-top-alert-animation {
    animation-name: bottomToTop;
    animation-duration: 0.3s;
    transform: translateY(0);
}

label {
    user-select: none !important;
}

.modal-backdrop {
    z-index: 0;
}

.custom-modal,
.alert-custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    align-items: center;
    justify-content: center;

    .modal-outside {
        position: absolute;
        z-index: -10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .modal-content {
        /* width: 100%; */
        /* overflow: auto; */
        /* max-height: 90vh; */
        margin: 0 auto;
        background-color: #fff;
        animation: zoomIn 0.3s;
    }
}

@keyframes fadeDown {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

.aside-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    animation: fadeDown;
    transition: .3s ease-in-out;

    &:not(.active) {
        top: -100vh !important;
    }

    .aside-modal-outside {
        position: absolute;
        z-index: -10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .aside-modal-content {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #fff;
        box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.1);
    }
}

.alert-custom-modal {
    z-index: 15;
}

/* width */
.hidden-scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
.hidden-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.hidden-scroll::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.hidden-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
    /* background: #f1f1f1; */
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 4px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
}

.group input:checked+label {
    color: #3b82f6;

    img {
        border: 2px solid #3b82f6;
    }
}

.skeleton {
    display: block;
    /* background-color: #e2e8f0; */
    background-color: rgb(229 231 235 / .7);
    /* Açık gri ton */
    position: relative;
    overflow: hidden;
}

/* Parlayan efekt için */
.skeleton::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    height: 100%;
    width: 150%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.4),
            transparent);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    from {
        left: -150%;
    }

    to {
        left: 100%;
    }
}

/* Skeleton boyutları */
.skeleton-img {
    width: 56px;
    /* .size-14 den uyumlu */
    height: 56px;
}

.skeleton-text {
    width: 120px;
    height: 1em;
    margin-bottom: 0.5em;
}

.skeleton-text-small {
    width: 80px;
    height: 0.8em;
}

.skeleton-button {
    width: 200px;
    height: 1em;
}

.oppo:hover .oppo-hover {
    display: block !important;
}

.gradient-aside {
    height: calc(100vh - 6rem);
    overflow-y: auto;

    background: linear-gradient(135deg,
            rgba(13, 94, 201, 0.9) 10%,
            rgba(28, 182, 248, 0.9) 100%);
    /* url('../image/bg-navbar.png') center/cover no-repeat; */

    a,
    button {
        color: white;
        opacity: 0.8;
    }

    .active {
        opacity: 1;
    }
}

/* width */
.gradient-aside::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

/* Track */
.gradient-aside::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.gradient-aside::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}

.gradient-aside:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.7);
}

.accordion-content {
    interpolate-size: allow-keywords;
}

.collapsible-menu {
    display: block;
}

@media screen and (max-width: 1023.98px) {
    .collapsible-menu:not(.show) {
        display: none;
    }
}

@media screen and (max-width: 575.98px) {
    .ozelBoyut {
        width: 340px;
    }
}

@media screen and (min-width: 576px) {
    .ozelBoyut {
        width: 540px;
    }
}


@media screen and (min-width: 1024px) {
    .aside-padding {
        padding-left: 21rem;
    }

    .ozelBoyut {
        width: 720px;
    }
}

.dot-flashing {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 999px;
    background-color: #111827;
    color: #111827;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -7.5px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #111827;
    color: #111827;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 7.5px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #111827;
    color: #111827;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: #111827;
    }

    50%,
    100% {
        background-color: #f3f4f6;
    }
}

.bg-motif {
    background: url('../image/motif.png');
    background-size: 40px;
    background-repeat: repeat;
}

.ozelanimasyon {
    position: relative;
    overflow: hidden;
    width: 49px;

    svg {
        animation: ozelAnimasyon 1s infinite;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@keyframes ozelAnimasyon {
    0% {
        left: 0;
        bottom: 0;
    }

    100% {
        left: 100%;
        bottom: 100%;
    }
}
