@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a:not(.underline) {

    &:hover,
    &:focus {
        text-decoration: none !important;
    }
}

label {
    margin: 0;
}

input[type="checkbox"] {
    margin: 0;
}

input[type="checkbox"]:focus {
    outline: none;
}

@keyframes zoomIn {
    from {
        transform: scale(.7);
    }

    to {
        transform: scale(1);
    }
}

.zoomIn-modal-animation {
    animation-name: zoomIn;
    animation-duration: .3s;
    transform: scale(1);
}

@keyframes bottomToTop {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.bottom-to-top-alert-animation {
    animation-name: bottomToTop;
    animation-duration: .3s;
    transform: translateY(0);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    overflow: auto;
    align-items: center;
    justify-content: center;

    .modal-outside {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .modal-content {
        position: relative;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        animation: zoomIn .3s;
    }
}



/* width */
.hidden-scroll::-webkit-scrollbar {
    width: 1px;
}

/* Track */
.hidden-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.hidden-scroll::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.hidden-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.group input:checked+label  {
    color: #3b82f6;
    
    img {
        border: 2px solid #3b82f6;
    }
}
